<h3>
  <span routerLink="users">
    <fa-icon [icon]="faArrowLeft"></fa-icon> {{ 'USER.HEADER' | translate }}
  </span>
  / {{user ? user.forename + ' ' + user.surname : 'USER.DETAILS.NEW' | translate }}
</h3>
<div *ngIf="isProtected()" class="alert alert-warning" role="alert">
  {{'USER.DETAILS.PROTECTED' | translate}}
</div>
<form [formGroup]="userForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="email">{{ 'USER.DETAILS.EMAIL' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.USER_EDIT]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!emailControl.valid && emailControl.touched"
        [class.is-valid]="emailControl.valid" id="email" formControlName="email" required>
      <small *ngIf="!emailControl.valid && emailControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="password">{{ 'USER.DETAILS.PASSWORD' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.USER_EDIT]" [mode]="permissionsMode.DISABLED"
        type="password" class="form-control" id="password" formControlName="password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="forename">{{ 'USER.DETAILS.FORENAME' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.USER_EDIT]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!forenameControl.valid && forenameControl.touched"
        [class.is-valid]="forenameControl.valid" id="forename" formControlName="forename" required>
      <small *ngIf="!forenameControl.valid && forenameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">{{ 'USER.DETAILS.SURNAME' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.USER_EDIT]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!surnameControl.valid && surnameControl.touched"
        [class.is-valid]="surnameControl.valid" id="surname" formControlName="surname" required>
      <small *ngIf="!surnameControl.valid && surnameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="contact">{{ 'USER.DETAILS.CONTACT' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.USER_EDIT]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!contactControl.valid && contactControl.touched"
        [class.is-valid]="contactControl.valid" id="contact" formControlName="contact" required>
      <small *ngIf="!contactControl.valid && contactControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div *ngIf="user" cbsPermissions [permissions]="[permissions.PERMISSION_VIEW]" [mode]="permissionsMode.HIDDEN" class="form-row">
    <div class="form-group">
      <button class="col-md-4 offset-md-8 btn btn-primary " (click)="onPermissionsClick()">{{ 'USER.DETAILS.PERMISSIONS' | translate }}</button>
    </div>
  </div>
  <div cbsPermissions [permissions]="[permissions.USER_EDIT]" class="form-row">
    <ng-container *ngIf="user">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" [disabled]="userForm.pristine" (click)="onRestoreClick()">{{ 'SHARED.BUTTON.RESTORE' | translate }}</button>
    <button *ngIf="!isProtected()" class="col-md-2 mr-1 btn btn-outline-danger" (click)="onDeleteClick()">{{ 'SHARED.BUTTON.DELETE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!userForm.valid || userForm.pristine" (click)="onSaveClick()">{{ 'SHARED.BUTTON.SAVE' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="!user">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" (click)="onClearClick()">{{ 'SHARED.BUTTON.CLEAR' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!userForm.valid" (click)="onAddClick()">{{ 'SHARED.BUTTON.ADD' | translate }}</button>
  </ng-container>
  </div>
</form>
