<h3>{{ 'USER.HEADER' | translate }} -> {{user ? user.forename + ' ' + user.surename : 'USER.DETAILS.NEW' | translate }}</h3>
<form [formGroup]="registerForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">{{ 'USER.DETAILS.LOGIN' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!loginControl.valid && loginControl.touched"
        [class.is-valid]="loginControl.valid" id="login" formControlName="login" required>
      <small *ngIf="!loginControl.valid && loginControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="email">{{ 'USER.DETAILS.EMAIL' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!emailControl.valid && emailControl.touched"
        [class.is-valid]="emailControl.valid" id="email" formControlName="email" required>
      <small *ngIf="!emailControl.valid && emailControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="forename">{{ 'USER.DETAILS.FORENAME' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!forenameControl.valid && forenameControl.touched"
        [class.is-valid]="forenameControl.valid" id="forename" formControlName="forename" required>
      <small *ngIf="!forenameControl.valid && forenameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">{{ 'USER.DETAILS.SURNAME' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!surnameControl.valid && surnameControl.touched"
        [class.is-valid]="surnameControl.valid" id="surname" formControlName="surname" required>
      <small *ngIf="!surnameControl.valid && surnameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="contact">{{ 'USER.DETAILS.CONTACT' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!contactControl.valid && contactControl.touched"
        [class.is-valid]="contactControl.valid" id="contact" formControlName="contact" required>
      <small *ngIf="!contactControl.valid && contactControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="role">{{ 'USER.DETAILS.ROLE' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!roleControl.valid && roleControl.touched"
        [class.is-valid]="roleControl.valid" id="role" formControlName="role" required>
      <small *ngIf="!roleControl.valid && roleControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <ng-container *ngIf="user">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" (click)="onRestoreClick()">{{ 'USER.DETAILS.RESTORE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-outline-danger" (click)="onDeleteClick()">{{ 'USER.DETAILS.DELETE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!registerForm.valid" (click)="onSaveClick()">{{ 'USER.DETAILS.SAVE' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="!user">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" (click)="onClearClick()">{{ 'USER.DETAILS.CLEAR' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!registerForm.valid" (click)="onAddClick()">{{ 'USER.DETAILS.ADD' | translate }}</button>
  </ng-container>
  </div>
</form>
