<div>
  <input #search
    class="form-control"
    [placeholder]="searchPlaceholder"
    [(ngModel)]="searchInputValue"
    [disabled]="disabled"
    (click)="searchInputClick()"
    (input)="searchInputInput()"
    (blur)="blurInput()"
    (keydown.enter)="enterInput()"
  >
  <ul *ngIf="searchResultShow && searchResults?.length > 0 && !disabled" class="dropdown-menu list-group overflow-auto m-1 w-100">
    <li *ngFor="let result of searchResults" (click)="selectSearchResult(result)" class="dropdown-item list-group-item list-group-item-action list-group-item-light border-light p-1">
      {{result.value}}
    </li>
    <li *ngIf="loadMore" class="dropdown-item list-group-item list-group-item-action list-group-item-light border-light p-1">
      <div class="d-flex justify-content-center" (click)="loadMoreClick()">
        <span>{{'SHARED.PAGINATION.LOAD_MORE' | translate}}</span>
      </div>
    </li>
  </ul>
</div>
