<h3>
  <span routerLink="software">
    <fa-icon [icon]="faArrowLeft"></fa-icon> {{ 'SOFTWARE.HEADER' | translate }}
  </span>
  / {{software ? software.name : 'SOFTWARE.DETAILS.NEW' | translate }}
</h3>
<form [formGroup]="softwareForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">{{ 'SOFTWARE.DETAILS.NAME' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!nameControl.valid && nameControl.touched"
        [class.is-valid]="nameControl.valid" id="name" formControlName="name" required>
      <small *ngIf="!nameControl.valid && nameControl.touched" id="softwareHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="quantity">{{ 'SOFTWARE.DETAILS.QUANTITY' | translate }}</label>
      <input cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]" [mode]="permissionsMode.DISABLED"
        type="number" class="form-control" [class.is-invalid]="!quantityControl.valid && quantityControl.touched"
        [class.is-valid]="quantityControl.valid" id="quantity" formControlName="quantity" required>
      <small *ngIf="quantityControl.errors?.required && quantityControl.touched" id="softwareHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
      <small *ngIf="quantityControl.errors?.min && quantityControl.touched" id="softwareHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.MIN_VALUE_0' | translate }}</small>
    </div>
  </div>
  <div formGroupName="validPeriod" class="form-row">
    <div class="form-group col-md-6">
      <label for="validFrom">{{ 'SOFTWARE.DETAILS.VALID_FROM' | translate }}</label>
      <div class="input-group">
        <input  cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]" [mode]="permissionsMode.DISABLED"
          class="form-control" id="validFrom" formControlName="validFrom" ngbDatepicker #dValidFrom="ngbDatepicker"
          [class.is-invalid]="!softwareForm.get('validPeriod').valid && softwareForm.get('validPeriod').touched" readonly>
        <div class="input-group-append">
          <button cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]"
            class="btn btn-outline-danger" (click)="validFromControl.setValue(null); validFromControl.markAsTouched()" type="button">
            <fa-icon [icon]="faEraser"></fa-icon>
          </button>
          <button cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]"
            class="btn btn-outline-secondary" (click)="dValidFrom.toggle()" type="button">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
      <small *ngIf="!softwareForm.get('validPeriod').valid && softwareForm.get('validPeriod').touched" id="softwareHelp"
      class="form-text text-muted">{{ 'SHARED.VALIDATION.DATE_PERIOD' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="validTo">{{ 'SOFTWARE.DETAILS.VALID_TO' | translate }}</label>
      <div class="input-group">
        <input cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]" [mode]="permissionsMode.DISABLED"
          class="form-control" id="validTo" formControlName="validTo" ngbDatepicker #dValidTo="ngbDatepicker"
          [class.is-invalid]="!softwareForm.get('validPeriod').valid && softwareForm.get('validPeriod').touched" readonly>
        <div class="input-group-append">
          <button cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]"
            class="btn btn-outline-danger" (click)="validToControl.setValue(null); validToControl.markAsTouched()" type="button">
            <fa-icon [icon]="faEraser"></fa-icon>
          </button>
          <button cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]"
            class="btn btn-outline-secondary" (click)="dValidTo.toggle()" type="button">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div cbsPermissions [permissions]="[permissions.SOFTWARE_EDIT]"  class="form-row">
    <ng-container *ngIf="software">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" [disabled]="softwareForm.pristine" (click)="onRestoreClick()">{{ 'SHARED.BUTTON.RESTORE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-outline-danger" (click)="onDeleteClick()">{{ 'SHARED.BUTTON.DELETE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!softwareForm.valid || softwareForm.untouched" (click)="onSaveClick()">{{ 'SHARED.BUTTON.SAVE' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="!software">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" (click)="onClearClick()">{{ 'SHARED.BUTTON.CLEAR' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!softwareForm.valid" (click)="onAddClick()">{{ 'SHARED.BUTTON.ADD' | translate }}</button>
  </ng-container>
  </div>
</form>
