<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ 'USER.TABLE.SURNAME' | translate }}</th>
      <th>{{ 'USER.TABLE.FORENAME' | translate }}</th>
      <th>{{ 'USER.TABLE.CONTACT' | translate }}</th>
      <th>{{ 'USER.TABLE.EMAIL' | translate }}</th>
      <th>
        <button cbsPermissions [permissions]="[permissions.USER_EDIT]" routerLink="/users/0" class="btn btn-sm btn-success icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!users || users.length === 0">
      <td colspan="5">{{ 'SHARED.TABLE.EMPTY' | translate }}</td>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.surname }}</td>
      <td>{{ user.forename }}</td>
      <td>{{ user.contact }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button routerLink="/users/{{user.uuid}}" class="btn btn-sm btn-primary icon">
          <fa-icon [icon]="(authorizationService.hasPermissions([permissions.USER_EDIT]) | async) ? faPen : faInfo"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>

</table>
