<nav class="nav flex-column nav-pills">
    <a *ngIf="authService.checkCredentials()" (click)="authService.logout()" class="nav-link" routerLink="home">{{ 'MENU.LOGOUT' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="home">{{ 'MENU.HOME' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="login">{{ 'MENU.LOGIN' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="register">{{ 'MENU.REGISTER' | translate }}</a>

    <a class="nav-link" routerLinkActive="active" routerLink="reservations">{{ 'MENU.RESERVATIONS' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="rooms">{{ 'MENU.ROOMS' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="appliances">{{ 'MENU.APPLIANCES' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="software">{{ 'MENU.SOFTWARE' | translate }}</a>
    <a class="nav-link" routerLinkActive="active" routerLink="users">{{ 'MENU.USERS' | translate }}</a>
</nav>
