<h3>
  <span routerLink="reservations">
    <fa-icon [icon]="faArrowLeft"></fa-icon> {{ 'RESERVATION.HEADER' | translate }}
  </span>
  / {{reservation ? reservation.room : 'RESERVATION.DETAILS.NEW' | translate }}
</h3>
<form [formGroup]="reservationForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="userControl">{{ 'RESERVATION.DETAILS.USER' | translate }}</label>
      <input  cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!userControl.valid && userControl.touched"
        [class.is-valid]="userControl.valid" id="user" formControlName="user" required>
      <small *ngIf="!userControl.valid && userControl.touched" id="reservationHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="messageControl">{{ 'RESERVATION.DETAILS.MESSAGE' | translate }}</label>
      <input  cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]" [mode]="permissionsMode.DISABLED"
        type="text" class="form-control" [class.is-invalid]="!messageControl.valid && messageControl.touched"
        [class.is-valid]="messageControl.valid" id="message" formControlName="message" required>
      <small *ngIf="!messageControl.valid && messageControl.touched" id="reservationHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">{{ 'RESERVATION.DETAILS.DATE_FROM' | translate }}</div>
    <div class="col-md-6">{{ 'RESERVATION.DETAILS.DATE_TO' | translate }}</div>
  </div>
  <div formGroupName="reservationPeriod" class="form-row align-items-md-center period">
    <div class="form-group col-md-4">
      <div class="input-group">
        <input  cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]" [mode]="permissionsMode.DISABLED"
          class="form-control" id="dateFrom" formControlName="dateFrom" ngbDatepicker #dValidFrom="ngbDatepicker"
          [class.is-invalid]="!reservationForm.get('reservationPeriod').valid && reservationForm.get('reservationPeriod').touched" readonly>
        <div class="input-group-append">
          <button cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]"
            class="btn btn-outline-danger" (click)="dateFromControl.setValue(null); dateFromControl.markAsTouched()" type="button">
            <fa-icon [icon]="faEraser"></fa-icon>
          </button>
          <button cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]"
            class="btn btn-outline-secondary" (click)="dValidFrom.toggle()" type="button">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group col-md-2">
      <ngb-timepicker></ngb-timepicker>
    </div>

    <div class="form-group col-md-4">
      <div class="input-group">
        <input cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]" [mode]="permissionsMode.DISABLED"
          class="form-control" id="dateTo" formControlName="dateTo" ngbDatepicker #dValidTo="ngbDatepicker"
          [class.is-invalid]="!reservationForm.get('reservationPeriod').valid && reservationForm.get('reservationPeriod').touched" readonly>
        <div class="input-group-append">
          <button cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]"
            class="btn btn-outline-danger" (click)="dateToControl.setValue(null); dateToControl.markAsTouched()" type="button">
            <fa-icon [icon]="faEraser"></fa-icon>
          </button>
          <button cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]"
            class="btn btn-outline-secondary" (click)="dValidTo.toggle()" type="button">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group col-md-2">
      <ngb-timepicker></ngb-timepicker>
    </div>
  </div>
  <div class="form-row">
    <small *ngIf="!reservationForm.valid && userControl.touched" id="reservationHelp"
        class="form-text text-muted">{{ 'SHARED.VALIDATION.FIELD_REQUIRED' | translate }}</small>
  </div>

  <div formGroupName="filter" class="form-row align-items-md-center period">
    <div class="form-group col-md-4">
      <input class="form-control" id="roomName" formControlName="roomName">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control" id="appliance" formControlName="appliance">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control" id="software" formControlName="software">
    </div>
  </div>


  <div cbsPermissions [permissions]="[permissions.RESERVATION_EDIT, permissions.RESERVATION_EDIT_USER]" class="form-row">
    <ng-container *ngIf="reservation">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" [disabled]="reservationForm.pristine" (click)="onRestoreClick()">{{ 'SHARED.BUTTON.RESTORE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-outline-danger" (click)="onDeleteClick()">{{ 'SHARED.BUTTON.DELETE' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!reservationForm.valid || reservationForm.pristine" (click)="onSaveClick()">{{ 'SHARED.BUTTON.SAVE' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="!reservation">
    <button class="col-md-2 mr-1 btn btn-outline-secondary" (click)="onClearClick()">{{ 'SHARED.BUTTON.CLEAR' | translate }}</button>
    <button class="col-md-2 mr-1 btn btn-success" [disabled]="!reservationForm.valid" (click)="onAddClick()">{{ 'SHARED.BUTTON.ADD' | translate }}</button>
  </ng-container>
  </div>
</form>
