<h3>{{ 'REGISTER.HEADER' | translate }}</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="login">{{ 'REGISTER.LOGIN' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!loginControl.valid && loginControl.touched"
        [class.is-valid]="loginControl.valid" id="login" formControlName="login" required>
      <small *ngIf="!loginControl.valid && loginControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="email">{{ 'REGISTER.EMAIL' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!emailControl.valid && emailControl.touched"
        [class.is-valid]="emailControl.valid" id="email" formControlName="email" required>
      <small *ngIf="!emailControl.valid && emailControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-group">
    <label for="password">{{ 'REGISTER.PASSWORD' | translate }}</label>
    <input type="password" class="form-control" [class.is-invalid]="!passwordControl.valid && passwordControl.touched"
      [class.is-valid]="passwordControl.valid" id="password" formControlName="password" required>
    <small *ngIf="!passwordControl.valid && passwordControl.touched" id="passwordHelp"
      class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="forename">{{ 'REGISTER.FORENAME' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!forenameControl.valid && forenameControl.touched"
        [class.is-valid]="forenameControl.valid" id="forename" formControlName="forename" required>
      <small *ngIf="!forenameControl.valid && forenameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="surname">{{ 'REGISTER.SURNAME' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!surnameControl.valid && surnameControl.touched"
        [class.is-valid]="surnameControl.valid" id="surname" formControlName="surname" required>
      <small *ngIf="!surnameControl.valid && surnameControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="contact">{{ 'REGISTER.CONTACT' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!contactControl.valid && contactControl.touched"
        [class.is-valid]="contactControl.valid" id="contact" formControlName="contact" required>
      <small *ngIf="!contactControl.valid && contactControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
    <div class="form-group col-md-6">
      <label for="role">{{ 'REGISTER.ROLE' | translate }}</label>
      <input type="text" class="form-control" [class.is-invalid]="!roleControl.valid && roleControl.touched"
        [class.is-valid]="roleControl.valid" id="role" formControlName="role" required>
      <small *ngIf="!roleControl.valid && roleControl.touched" id="loginHelp"
        class="form-text text-muted">{{ 'REGISTER.VALIDATION.FIELD_REQUIRED' | translate }}</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"
    [disabled]="!registerForm.valid">{{ 'REGISTER.SIGN_UP' | translate }}</button>
</form>
